<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Opening Weekend Box Office Predictor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="phone-nav">
              <a class="navbar-brand" href="#" id="logo">Opening Weekend Box Office Predictor  <i class="fas fa-film"></i></a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href=#predict-bar>Predict</a></li>
              <li><a href="#cont-anc">Data</a></li>
              <li><a href="https://public.tableau.com/profile/vivian.plasencia#!/vizhome/OpeningWeekendBoxOfficeAnalysis/OpeningWeekendAnalysisDashboard?publish=yes" target="_blank">Visualize</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->
    <a href="https://public.tableau.com/profile/vivian.plasencia#!/vizhome/OpeningWeekendBoxOfficeAnalysis/OpeningWeekendAnalysisDashboard?publish=yes" target="_blank">
      <div class="hero text-center">
      </div>
    </a>

    <!--search bar for model-->
    <div class="container" id="predict-bar">
      <div class="row margin-top-50">
        <div id="search">
          <button type="button" class="close">×</button>
          <form name="predict-movie" action="{{ url_for('predict') }}" method="post">
            <input type="search" placeholder="enter your movie here" name="movie-input" id="movie-input" />
            <div style="text-align: center">
              <button type="submit" name="submit" id="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    {% if prediction %}
      <div class="jumbotron jumbotron-fluid">
        <div class="container center">
          <div class="center">
            <img src="{{ poster }}" align="center" alt="movie-poster">
          </div>
          <p class="lead" align="center">This is a prediction for "{{ movie }}"</p>
          <h1 class="display-4">{{ '${:,.2f}'.format(prediction) }}</h1>
        </div>
      </div>
    {% endif %}


      <!--Data table-->

      <table id="example" class="display table table-responsive" style="width:80%">
        <thead>
          <tr>
            <th>Title</th>
            <th>Studio</th>
            <th>Opening</th>
            <th>Date.</th>
            <th>Director</th>
            <th>Budget</th>
            <th>imdbID</th>
            <th>Month</th>
            <th>Year</th>
            <th>Ticket_Price</th>
            <th>Actor</th>
            <th>Genre</th>
            <th>Writer</th>
            <th>Ratings</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Title</th>
            <th>Studio</th>
            <th>Opening</th>
            <th>Date.</th>
            <th>Director</th>
            <th>Budget</th>
            <th>imdbID</th>
            <th>Month</th>
            <th>Year</th>
            <th>Ticket_Price</th>
            <th>Actor</th>
            <th>Genre</th>
            <th>Writer</th>
            <th>Ratings</th>
          </tr>
        </tfoot>
      </table>
    <div class="row">
      <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-2 text-center pagination-container">
        <ul class="pagination" id="pagination">
        </ul>
      </div>
    </div>
    </div>
    <footer>
      <span class="bottom">Box Office Predictor</span>
      <p>Budget Data Provided By <a href="https://www.themoviedb.org/">The Movie DB</a></p>
    </footer>
    </div>
    <!--used for jquery library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--used for bootstrap jquery is required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--used for data table-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- custom javascript for app -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!--used for model search bar-->
  </body>

</html>
